<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
  />

  <title>
    {% if page.layout != 'home' %}{% if page.title %}{{ page.title }}{% else
    %}{{ site.title }}{% endif %} - {{ site.title }}{% else %} {{ site.title
    }}{% endif %}
  </title>
  <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}" />
  <script
    type="text/javascript"
    src="{{ page.js_file | relative_url }}"
  ></script>

  <script>
    // This assumes that you're using Rouge; if not, update the selector
    const codeBlocks = document.querySelectorAll(
      ".code-header + .highlighter-rouge"
    );
    const copyCodeButtons = document.querySelectorAll(".copy-code-button");

    copyCodeButtons.forEach((copyCodeButton, index) => {
      const code = codeBlocks[index].innerText;

      copyCodeButton.addEventListener("click", () => {
        // Copy the code to the user's clipboard
        window.navigator.clipboard.writeText(code);

        // Update the button text visually
        const { innerText: originalText } = copyCodeButton;
        copyCodeButton.innerText = "Copied!";

        // (Optional) Toggle a class for styling the button
        copyCodeButton.classList.add("copied");

        // After 2 seconds, reset the button to its initial UI
        setTimeout(() => {
          copyCodeButton.innerText = originalText;
          copyCodeButton.classList.remove("copied");
        }, 2000);
      });
    });
  </script>

  {% seo %}
</head>
