{{ define "main" }}
<article class="post fade-in">
  <h1 class="post-title">
    <a href="{{ .Permalink }}">{{ .Title | markdownify }}</a>
  </h1>
  <section class="post-meta">
	<div>
		{{- if .Date -}}
		  <time class="post-date">
			{{- .Date.Format "2006-01-02" -}}
		</time>
		{{- end -}}
		&nbsp;::&nbsp;
		{{- with .Params.Author -}}
		<span class="post-author">{{ . }}</span>
		{{- end -}}
	</div>
    <!-- comments counter -->
    {{ partial "comments_counter.html" . }}
    {{- if and (.Param "readingTime") (eq (.Param "readingTime") true) -}}
	<span class="post-reading-time">{{ .ReadingTime }} {{ $.Site.Params.minuteReadingTime | default "min read" }} ({{ .WordCount }} {{ $.Site.Params.words | default "words" }})</span>
    {{- end -}}
	<span class="post-last-updated">
		{{- if $.Site.Params.showLastUpdated -}}
		  {{- or $.Site.Params.updatedDatePrefix "Updated" -}} &nbsp;::&nbsp; {{- .Lastmod.Format "2006-01-02" -}}
		{{- end -}}
	</span>
  </section>
	
  {{ if .Params.tags }}
    <span class="post-tags">
      {{ range .Params.tags }}
      #<a href="{{ (urlize (printf "tags/%s/" .)) | absLangURL }}">{{ . }}</a>&nbsp;
      {{ end }}
    </span>
  {{ end }}
  {{ partial "cover.html" (dict "ctx" . "isCoverCaptionEnabled" true) }}

  {{ if (.Params.Toc | default .Site.Params.Toc) }}
    <div class="table-of-contents">
      <h2>
        {{ (.Params.TocTitle | default .Site.Params.TocTitle) | default "Table of Contents" }}
      </h2>
      {{ .TableOfContents }}
    </div>
  {{ end }}

  <section class="post-content">
    {{- with .Content -}}
      <div>
       {{ . | replaceRE "(<h[1-9] id=\"([^\"]+)\".+)(</h[1-9]+>)" `${1}<a href="#${2}" class="hanchor" ariaLabel="Anchor">#</a> ${3}` | safeHTML }}
    {{- end -}}
  </div>

	<section class="comment">
		<details>
			<summary>🗪 댓글</summary>
			<script src="https://giscus.app/client.js"
    		    data-repo="sayoonnn/sayoonnn.github.io"
				data-repo-id="R_kgDOLoQAWw"
				data-category="Announcements"
				data-category-id="DIC_kwDOLoQAW84Cmcyi"
				data-mapping="pathname"
				data-strict="0"
				data-reactions-enabled="1"
				data-emit-metadata="0"
				data-input-position="top"
				data-theme="http://sayoonnn.github.io/comment.css"
				data-lang="ko"
				crossorigin="anonymous"
				async>
			</script>
		</details>
	</section>
	
</article>

    {{ if eq .Type $.Site.Params.contentTypeName }}
    {{ partial "posts_pagination.html" . }}
  {{ end }}

  {{ if not (.Params.hideComments | default false) }}
    {{ partial "comments.html" . }}
  {{ end }}

{{ end }}
