---
# Style-Sheet
---

/* FONTS */
@charset "utf-8";

@font-face {
    font-family: "JetBrainsMono Regular";
    src: url("../fonts/JetBrainsMono-Regular.woff2");
}

@font-face {
    font-family: "NeoDunggenmoPro Regular";
    src: url("../fonts/GalmuriMono11.woff2");
}

:root {
    --main-color: rgba(219, 219, 219, 0.9);
    --bg-color: rgba(0, 0, 0, 0.95);

    --text-color: rgba(219, 219, 219, 0.9);
    --pop-color: rgba(219, 219, 219, 0.9);
    --alt-color: rgba(46, 213, 115, 0.9);
    --light-alt-color: rgba(46, 213, 115, 1);

    --main-font: "NeoDunggenmoPro Regular";
    --code-font: "JetBrainsMono Regular";

    -webkit-text-size-adjust: 100%;

    scrollbar-color: rgba(255, 255, 255, 0.3) transparent;
}

html {
    background-color: var(--bg-color);
}

/* BASE */
body {
    color: var(--main-color);
    font-family: var(--main-font);
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;

    font-size: 15px;
    line-height: 1.7em;

    overflow-y: scroll;
}

article {
    padding: 0 0.625rem;

    @keyframes fadeIn {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    animation: fadeIn 0.2s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0.5em 0;
    font-weight: bold;
    color: var(--pop-color);
}

h1 {
    font-size: 1.3em;
}

h2 {
    font-size: 1.2em;
}

h3 {
    font-size: 1.1em;
}

p {
    margin-top: 0.3em;
}

a {
    text-decoration: underline;
    color: var(--alt-color);
}

a:not(.badge):hover {
    color: var(--bg-color);
    background-color: var(--alt-color);
    transition: all ease-in-out 0.3s;
}

a.badge {
    display: inline-flex;
}

.primary-text {
    color: var(--main-color);
}

@media only screen and (max-device-width: 500px) {
    * {
        font-size: 12px !important;
    }
}

b,
strong {
    color: var(--main-color);
}

.invert {
    color: var(--bg-color);
    background-color: var(--main-color);
    padding-left: 0.1875rem;
    padding-right: 0.1875rem;
    padding-top: 0.0625rem;
    padding-bottom: 0.0625rem;
}

p {
    word-wrap: break-word;
    word-break: break-word;
    white-space: pre-wrap;
}

footer {
    color: var(--text-color);
    border-top: dashed 0.0625rem rgba(219, 219, 219, 0.9);
    margin: 1.25rem auto 0.9375rem;
    padding-top: 0.625rem;
    text-align: right;
}
header {
    margin-top: 1.5625rem;
    margin-bottom: 0.625rem;
}
header p {
    text-align: left;
}
footer {
    margin-bottom: 1.25rem;
}

/* LISTS */
:not(.menu) > ul {
    list-style: none;
    padding-left: 0.5em;
}
ul :not(.menu) > ul {
    list-style: none;
    padding-left: 0.5em;
    margin-top: 0.5em;
    margin-bottom: 0.7em;
}
:not(.menu) > ul {
    list-style-type: none;
}
:not(.menu) > ul > li:before {
    content: "-";
    margin-right: 0.5625rem;
}
ul :not(.menu) > ul > li:before {
    content: "*";
    margin-right: 0.5625rem;
}

ul.post-categories > li {
    font-weight: bold;
}

ul.post-list > li {
    font-size: 0.9em;
    white-space: nowrap;
}

ul.post-categories > li {
    &::before {
        content: none;
    }
    &::after {
        content: ":";
    }
}

ul.post-list > li::before {
    content: "";
}

/* NAVIGATION */
.menu {
    border-top: dashed 0.0625rem rgba(219, 219, 219, 0.9);
    border-bottom: dashed 0.0625rem rgba(219, 219, 219, 0.9);
    margin-bottom: 1.5625rem;
}
.menu ul {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
    padding-left: 0;
    list-style-type: none;
    text-align: right;
}

.menu ul li {
    display: inline;
    margin-left: 0.625rem;
}

.menu ul li a {
    text-decoration: none;
    color: var(--text-color);
    margin-right: 0.625rem;

    &:hover {
        color: var(--bg-color);
        background-color: var(--main-color);
    }
}

.menu ul li.page_title {
    font-size: 1.2em;
    font-weight: bold;
    float: left;
    text-align: left;
    margin-left: 0.625rem;
    color: var(--text-color);
}

/* ERROR PAGES */

div.error_box {
    margin: 6.25rem;
    text-align: center;
}
div.error_box h2 {
    font-size: 1.5em;
}

*::selection {
    background-color: var(--light-alt-color);
    color: var(--bg-color);
}

.post-meta {
    height: fit-content;
    display: flex;
    justify-content: space-between;
}

blockquote {
    border-left: 0.1875rem solid rgba(219, 219, 219, 0.9);
    margin: 1rem;
    padding: 0 1rem;
}

pre.logo {
    font-family: var(--main-font);
    line-height: 1.5em;
}

/* highlights */

div.highlighter-rouge {
    position: relative;
}

.copy-button {
    position: absolute;
    top: 0;
    right: 0;

    background: none;
    border: none;
    width: 100px;
    margin: 10px 0;
    font-size: 13px;

    display: flex;
    justify-content: center;
    align-items: center;

    color: #6b6b6b;

    &:hover {
        cursor: pointer;
        color: white;
    }
}

code {
    * {
        font-family: var(--code-font) !important;
        line-height: 1.7em;
    }
}

.language-plaintext {
    font-family: var(--main-font) !important;
    color: var(--light-alt-color);
    background-color: rgba(135, 131, 120, 0.15);
    border-radius: 0.3125rem;
    padding: 0.0625rem 0.3125rem;
    margin: 0 0.1875rem;
}

.highlight .hll {
    background-color: #333333;
}
.highlight {
    background: #000000;
    color: #ffffff;
    padding-left: 0.1875rem;
    border-radius: 0.625rem;
    padding-top: 0.0625rem;
    padding-bottom: 0.0625rem;

    font-size: 0.8125rem;
    overflow: auto;
}
.highlight table td {
    padding: 0.3125rem;
}
.highlight table pre {
    margin: 0;
}
.highlight,
.highlight .w {
    color: #d8d8d8;
    background-color: #181818;
}
.highlight .err {
    color: #181818;
    background-color: #ab4642;
}
.highlight .c,
.highlight .ch,
.highlight .cd,
.highlight .cm,
.highlight .cpf,
.highlight .c1,
.highlight .cs {
    color: #585858;
}
.highlight .cp {
    color: #f7ca88;
}
.highlight .nt {
    color: #f7ca88;
}
.highlight .o,
.highlight .ow {
    color: #d8d8d8;
}
.highlight .p,
.highlight .pi {
    color: #d8d8d8;
}
.highlight .gi {
    color: #a1b56c;
}
.highlight .gd {
    color: #ab4642;
}
.highlight .gh {
    color: #7cafc2;
    background-color: #181818;
    font-weight: bold;
}
.highlight .ge {
    font-style: italic;
}
.highlight .ges {
    font-weight: bold;
    font-style: italic;
}
.highlight .gs {
    font-weight: bold;
}
.highlight .k,
.highlight .kn,
.highlight .kp,
.highlight .kr,
.highlight .kv {
    color: #ba8baf;
}
.highlight .kc {
    color: #dc9656;
}
.highlight .kt {
    color: #dc9656;
}
.highlight .kd {
    color: #dc9656;
}
.highlight .s,
.highlight .sb,
.highlight .sc,
.highlight .dl,
.highlight .sd,
.highlight .s2,
.highlight .sh,
.highlight .sx,
.highlight .s1 {
    color: #a1b56c;
}
.highlight .sa {
    color: #ba8baf;
}
.highlight .sr {
    color: #86c1b9;
}
.highlight .si {
    color: #a16946;
}
.highlight .se {
    color: #a16946;
}
.highlight .nn {
    color: #f7ca88;
}
.highlight .nc {
    color: #f7ca88;
}
.highlight .no {
    color: #f7ca88;
}
.highlight .na {
    color: #7cafc2;
}
.highlight .m,
.highlight .mb,
.highlight .mf,
.highlight .mh,
.highlight .mi,
.highlight .il,
.highlight .mo,
.highlight .mx {
    color: #a1b56c;
}
.highlight .ss {
    color: #a1b56c;
}

td.rouge-gutter.gl {
    user-select: none;
    text-align: right;
    vertical-align: top;
    color: #6b6b6b;
    border-right: 0.0625rem solid #6b6b6b;
    padding-right: 0.625rem !important;

    word-break: keep-all !important;
}

td.rouge-code {
    padding-left: 0.625rem !important;
}
