.post-list {
  line-height: 1.5em;

  h3,
  h2 {
    font-size: 1.2em;
  }

  ul {
    list-style-type: none;
    margin: 0;
  }

  a {
    padding: 2px;
    color: var(--accent);

    &:hover {
      text-decoration: underline;
      background-color: var(--accent);
      color: var(--background);
    }

    transition: all 0.3s;
  }
}
