:root {
  /* COLOR VARIABLES */
  --accent: rgb(51, 133, 255);
  --background: rgb(15, 15, 15);
  --accent-contrast-color: rgb(20, 20, 20);
  --color: rgba(255, 255, 255, 0.9);
  --border-color: rgba(255, 255, 255, 0.1);
  --article-link-color: var(inherit);
}

// Native CSS Variable aren't supported in a combination with MEDIA QUERIES. Wait for a new standard https://drafts.csswg.org/css-env-1/
// --phone: "max-width: 684px";
// --tablet: "max-width: 900px";

$phone: 684px;
$tablet: 900px;
