{{ $currentTag := index .Params.tags 0 }} {{ $taggedPages := where
.Site.RegularPages "Params.tags" "intersect" (slice $currentTag) }} {{
$sortedPages := sort $taggedPages "Date" "desc" }} {{ $currentPage := . }} {{
$prev := "" }} {{ $next := "" }} {{ range $index, $page := $sortedPages }} {{ if
eq $page.Permalink $currentPage.Permalink }} {{ if gt $index 0 }} {{ $next =
index $sortedPages (sub $index 1) }} {{ end }} {{ if lt $index (sub (len
$sortedPages) 1) }} {{ $prev = index $sortedPages (add $index 1) }} {{ end }} {{
end }} {{ end }} {{ if or $next $prev }}

<div class="pagination">
  <div class="pagination__title">
    <span class="pagination__title-h">{{ $.Site.Params.ReadOtherPosts }}</span>
    <hr />
  </div>
  <div class="pagination__buttons">
    <div class="previous">
      {{ if $next }}
      <a href="{{ $next.Permalink }}">
        <span class="button__icon">←</span>
        <span class="button__text">[{{ $next.Title }}]</span>
      </a>
      {{ end }}
    </div>

    <div class="next">
      {{ if $prev }}
      <a href="{{ $prev.Permalink }}">
        <span class="button__text">[{{ $prev.Title }}]</span>
        <span class="button__icon">→</span>
      </a>
      {{ end }}
    </div>
  </div>
</div>
{{ end }}
